<div id="<%= dom_id appointment %>">
  <p>
    <strong>User:</strong>
    <%= appointment.user_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= appointment.teacher_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= appointment.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= appointment.end_time %>
  </p>

</div>
